@import "reset";
@import "Variables";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');


.container {
  width: 1140px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

//HEADER
#header {
  position: absolute;
  padding: 50px 200px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      font-family: Nunito, sans-serif;
      font-weight: 700;
      font-size: 24px;
      color: #FFFFFF;
    }

    &__logo:hover {
      transition: .5s;
      transform: scale(1.2);
      background: linear-gradient(97.1deg, #8f30a9 11.99%, #9f2a1f 96.6%);

    }

    &__menu {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      padding: 0;

      &--item {
        position: relative;
        margin-left: 50px;
        padding: 5px 20px;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
        transition: .5s;
      }

      &--item {
        color: #FFFFFF;
      }

      &--item:before {

        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 1px solid #B85C38;
        border-bottom: 1px solid #B85C38;
        transform: scaleY(2);
        opacity: 0;
        transition: .5s;
        z-index: -1;
      }

      &--item:hover:before {

        transform: scaleY(1);
        opacity: 1;
      }

      &--item:after {
        position: absolute;
        content: '';
        top: 1px;
        left: 0;
        width: 100%;
        height: 100%;
        background: #B85C38;
        transform: scaleY(0);
        transition: .5s;
        z-index: -1;

      }

      &--item:hover:after {
        transform: scaleY(1);
      }
    }

    &__btn {
      @extend %btn;
    }

    &__btn:hover {
      transition: .1s;
      transform: scale(1.1);
      background: linear-gradient(97.1deg, #8f30a9 11.99%, #9f2a1f 96.6%);
    }
  }
}

//HEADER

//HERO
#hero {
  background: url("../img/Bg.png") no-repeat center/cover;
  min-height: 140vh;

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    &__vidos {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $BgColor;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      margin-top: 250px;
      margin-bottom: 40px;

      &--play {
        color: #ffffff;
        background: transparent;
        font-size: 25px;
      }
    }

    &__vidos:hover {
      transition: .5s;
      transform: scale(1.2);
      background: linear-gradient(97.1deg, #8f30a9 11.99%, #9f2a1f 96.6%);
    }

    &__title {
      font-family: Nunito, sans-serif;
      font-weight: bold;
      font-size: 72px;
      line-height: 98px;
      color: #FFFFFF;
      margin-bottom: 10px;
    }

    &__subtitle {
      font-family: Nunito, sans-serif;
      font-size: 24px;
      line-height: 33px;
      color: #FFFFFF;
      margin-bottom: 40px;
    }

    &__buttons {
      &--left {
        @extend %btn;
        font-size: 20px;
      }

      &--left:hover {
        transition: .1s;
        transform: scale(1.1);
        background: linear-gradient(97.1deg, #8f30a9 11.99%, #9f2a1f 96.6%);
      }

      &--right {
        @extend %btn2
      }

      &--right:hover {
        transition: .1s;
        transform: scale(1.1);
        background: linear-gradient(97.1deg, #8f30a9 11.99%, #9f2a1f 96%);
      }
    }

    &__buttons button {
      margin: 0 20px;
    }
  }
}

//HERO

//BEST
#best {
  .best {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &__theme {
      margin-top: 120px;
      font-family: $ff;
      font-size: 64px;
      text-align: center;
      color: #2D2424;
    }

    &__description {
      width: 870px;
      margin-top: 20px;
      font-family: $ff;
      font-size: 24px;
      line-height: 33px;
      color: $Cl;
    }

    &__title {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 120px;

      &--item {
        margin: 50px 30px;

        &_topic {
          margin-top: 20px;
          font-family: $ff;
          font-weight: 700;
          font-size: 24px;
          color: $BgColor;
        }

        &_descript {
          margin-top: 20px;
          width: 260px;
          font-family: $ff;
          font-size: 14px;
          line-height: 19px;
          text-align: center;
          color: $Cl;
        }
      }

      &--item:hover {
        transition: .7s;
        transform: scale(0.9);

        background: #000;
        border-radius: 10px;
      }
    }
  }
}

//BEST

//AS
#as {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 82vh;
  background: #E0C097;
  .as {

    &__img {
      position: absolute;
      margin-left: -13%;
      margin-top: -12%;
      border-top-right-radius: 250px;
      border-bottom-right-radius: 250px;
    }

    &__title {
      margin-left: 70%;
      &--theme{
        width: 445px;
        font-family: $ff;
        font-weight: 700;
        font-size: 48px;
        line-height: 65px;
        color: #5C3D2E;
      }
      &--desc{
        width: 445px;
        font-family: $ff;
        font-size: 24px;
        line-height: 33px;
        color: #5C3D2E;
      }
      &--milon{

      }
    }
  }


}


//AS

#diam {
  margin-top: 10%;

  .good {
    display: flex;
  }

  .dictum {
    display: flex;
  }
}
